.header {
  background-color: #ffffff;
  padding: 5px 0;
  color: #fff;
}

.header-title {
  font-size: 47px; /* Adjust the size as needed */
  font-weight: bold; /* Makes the text bold */
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-top: 3px;*/
  /*margin-left: 70px;*/
}

.gradient-text {
  background: linear-gradient(to right, #FF0000, #ffd700, #0000FF, #00FF00); /* Example gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 20px;
}

.menu {
  list-style: none;
  padding: 0 20px;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li a {
  color: #000000;
  text-decoration: none;
}

.menu li a:hover {
  text-decoration: underline;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.menu-item img {
  margin-bottom: 5px;
}