.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 1000px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
