<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uk.shef.msc8.ewaste.domain.product.repository.mapper.StoreProductV2Mapper">



    <select id="findStoreProductV2BySeriesId" resultType="uk.shef.msc8.ewaste.domain.product.repository.po.StoreProductV2PO" parameterType="Long">
        select *
        from t_store_productV2
        where series_id = #{seriesId} and is_deleted = 0
    </select>
</mapper>
